body {
	background-image: url("images/wall1.jpg");
	background-attachment: fixed;
	background-size: cover;
	font-family: 'PT Sans', sans-serif;	
	text-align: center;
}

#chart-area {
	margin: 10px 0 0 0;
}

.footer {
	font-size: 0.75em;
	text-align: left;
	color: white;
	& a {
		color: white;
		text-decoration: none;
	}
}

.xAxis, .yAxis {
	font-size: 0.75em;
	& path,line {
		fill: none;
		stroke: #000000;
	}
}

/* Cursor turns to pointer when it is above a rectangle. */
.dataRect {
	cursor: pointer;
	&:hover {
		fill: black; //fill not background-color because this is svg.
	}
}

.infoWindow {
	display: none;
}

#changeColor {
	margin: 0;
	background-color: #AE3C3C;
	color: white;
	border: none;
	z-index: 2;
	width: 200px;
	height: 50px;
	border-radius: 10px;
	outline: none;
	box-shadow: 0 5px gray;
	&:hover {
		cursor: pointer;
	}
}
#changeColor:active {
	box-shadow: 0 1px gray;
	transform: translateY(4px);
}
