/* line 1, ../sass/screen.scss */
body {
  background-image: url("images/wall1.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

/* line 9, ../sass/screen.scss */
#chart-area {
  margin: 10px 0 0 0;
}

/* line 13, ../sass/screen.scss */
.footer {
  font-size: 0.75em;
  text-align: left;
  color: white;
}
/* line 17, ../sass/screen.scss */
.footer a {
  color: white;
  text-decoration: none;
}

/* To control font of the axes and to show thin black lines for the axes and their ticks. */
/* line 24, ../sass/screen.scss */
.xAxis, .yAxis {
  font-size: 0.75em;
}
/* line 26, ../sass/screen.scss */
.xAxis path, .xAxis line, .yAxis path, .yAxis line {
  fill: none;
  stroke: #000000;
}

/* Cursor turns to pointer when it is above a data rectangle. */
/* line 33, ../sass/screen.scss */
.dataRect {
  cursor: pointer;
}
/* line 35, ../sass/screen.scss */
.dataRect:hover {
  fill: black;
}

/* line 40, ../sass/screen.scss */
.infoWindow {
  display: none;
}

/* line 44, ../sass/screen.scss */
#changeColor {
  margin: 0;
  background-color: #AE3C3C;
  color: white;
  border: none;
  z-index: 2;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 5px gray;
}
/* line 56, ../sass/screen.scss */
#changeColor:hover {
  cursor: pointer;
}

/* line 61, ../sass/screen.scss */
#changeColor:active {
  box-shadow: 0 1px gray;
  transform: translateY(4px);
}
